proprietary/system
proprietary/system/vendor/lib/libdrmdecrypt.so
proprietary/system/vendor/lib/libwvm.so
proprietary/system/vendor/lib/libwvdrm_L1.so
proprietary/system/vendor/lib/drm/libdrmwvmplugin.so
proprietary/system/vendor/lib/libWVStreamControlAPI_L1.so
proprietary/system/vendor/firmware/bcm2079x_pre_firmware.ncd
proprietary/system/vendor/firmware/bcm2079x_firmware.ncd
proprietary/system/vendor/firmware/discretix/dxhdcp2.b00
proprietary/system/vendor/firmware/discretix/dxhdcp2.b03
proprietary/system/vendor/firmware/discretix/dxhdcp2.b02
proprietary/system/vendor/firmware/discretix/dxhdcp2.b01
proprietary/system/vendor/firmware/discretix/dxhdcp2.mdt
proprietary/system/lib/libchromatix_imx111_preview.so
proprietary/system/lib/libxml.so
proprietary/system/lib/libOpenVG.so
proprietary/system/lib/libdiag.so
proprietary/system/lib/libmmmpo.so
proprietary/system/lib/libstagefright_hdcp.so
proprietary/system/lib/libchromatix_vx6953_preview.so
proprietary/system/lib/libmmcamera_statsproc31.so
proprietary/system/lib/libsc-a2xx.so
proprietary/system/lib/libqmiservices.so
proprietary/system/lib/libidl.so
proprietary/system/lib/libdsutils.so
proprietary/system/lib/libQSEEComAPI.so
proprietary/system/lib/libalsautils.so
proprietary/system/lib/libsensor1.so
proprietary/system/lib/libC2D2.so
proprietary/system/lib/libchromatix_vx6953_default_video.so
proprietary/system/lib/libmmcamera_hdr_lib.so
proprietary/system/lib/libgsl.so
proprietary/system/lib/libimage-jpeg-dec-omx-comp.so
proprietary/system/lib/libsc-a3xx.so
proprietary/system/lib/libmercury.so
proprietary/system/lib/libmmcamera_wavelet_lib.so
proprietary/system/lib/libOmxWmaDec.so
proprietary/system/lib/libnetmgr.so
proprietary/system/lib/libloc_api_v02.so
proprietary/system/lib/libgemini.so
proprietary/system/lib/libdsi_netctrl.so
proprietary/system/lib/libc2d2_z180.so
proprietary/system/lib/libAKM.so
proprietary/system/lib/libqmi.so
proprietary/system/lib/libchromatix_s5k4e1_default_video.so
proprietary/system/lib/libril-qc-qmi-1.so
proprietary/system/lib/libqdp.so
proprietary/system/lib/libchromatix_mt9e013_video_hfr.so
proprietary/system/lib/libchromatix_imx111_zsl.so
proprietary/system/lib/libCommandSvc.so
proprietary/system/lib/libOmxAacDec.so
proprietary/system/lib/libdrmfs.so
proprietary/system/lib/libacdbloader.so
proprietary/system/lib/libimage-omx-common.so
proprietary/system/lib/libmmcamera_image_stab.so
proprietary/system/lib/libqmi_encdec.so
proprietary/system/lib/libmm-color-convertor.so
proprietary/system/lib/libimage-jpeg-enc-omx-comp.so
proprietary/system/lib/liblightcycle.so
proprietary/system/lib/libconfigdb.so
proprietary/system/lib/libsensor_reg.so
proprietary/system/lib/libaudioparsers.so
proprietary/system/lib/libaudioalsa.so
proprietary/system/lib/libc2d2_a3xx.so
proprietary/system/lib/libdrmdiag.so
proprietary/system/lib/libchromatix_ov8825_preview.so
proprietary/system/lib/libmmcamera_faceproc.so
proprietary/system/lib/libllvm-a3xx.so
proprietary/system/lib/libdsucsd.so
proprietary/system/lib/libchromatix_ov5647_video_hfr.so
proprietary/system/lib/libchromatix_mt9e013_preview.so
proprietary/system/lib/lib_dlb_msd.so
proprietary/system/lib/liboemcamera.so
proprietary/system/lib/libchromatix_ov8825_default_video.so
proprietary/system/lib/libqmi_client_qmux.so
proprietary/system/lib/libqdi.so
proprietary/system/lib/libsensor_test.so
proprietary/system/lib/libqmi_cci.so
proprietary/system/lib/libllvm-arm.so
proprietary/system/lib/libdss.so
proprietary/system/lib/libmmstillomx.so
proprietary/system/lib/libDxHdcp.so
proprietary/system/lib/libqmi_csvt_srvc.so
proprietary/system/lib/libchromatix_ov9726_preview.so
proprietary/system/lib/libchromatix_ov9726_default_video.so
proprietary/system/lib/libdsprofile.so
proprietary/system/lib/libjni_mosaic.so
proprietary/system/lib/libmmmpod.so
proprietary/system/lib/libchromatix_ov5647_preview.so
proprietary/system/lib/libOpenCL.so
proprietary/system/lib/egl/eglsubAndroid.so
proprietary/system/lib/egl/libplayback_adreno200.so
proprietary/system/lib/egl/libq3dtools_adreno200.so
proprietary/system/lib/egl/libGLESv2S3D_adreno200.so
proprietary/system/lib/egl/libEGL_adreno200.so
proprietary/system/lib/egl/libGLESv2_adreno200.so
proprietary/system/lib/egl/libGLESv1_CM_adreno200.so
proprietary/system/lib/libqmi_common_so.so
proprietary/system/lib/libsensor_user_cal.so
proprietary/system/lib/libqmi_csi.so
proprietary/system/lib/libcamera_fast_af.so
proprietary/system/lib/libmmcamera_frameproc.so
proprietary/system/lib/libI420colorconvert.so
proprietary/system/lib/libmorpho_noise_reduction.so
proprietary/system/lib/libqcci_legacy.so
proprietary/system/lib/libdrmtime.so
proprietary/system/lib/libmmjpeg.so
proprietary/system/lib/hw/sensors.msm8960.so
proprietary/system/lib/libmmipl.so
proprietary/system/lib/libchromatix_imx119_default_video.so
proprietary/system/lib/libaudcal.so
proprietary/system/lib/libchromatix_imx119_preview.so
proprietary/system/lib/libchromatix_s5k4e1_preview.so
proprietary/system/lib/libchromatix_imx111_default_video.so
proprietary/system/lib/libchromatix_mt9e013_default_video.so
proprietary/system/lib/libmmjps.so
proprietary/system/lib/libcsd-client.so
proprietary/system/lib/libril-qcril-hook-oem.so
proprietary/system/lib/libchromatix_ov5647_default_video.so
proprietary/system/etc/DxHDCP.cfg
proprietary/system/etc/firmware/a225_pm4.fw
proprietary/system/etc/firmware/leia_pm4_470.fw
proprietary/system/etc/firmware/vidc.b03
proprietary/system/etc/firmware/vidc_1080p.fw
proprietary/system/etc/firmware/a225p5_pm4.fw
proprietary/system/etc/firmware/leia_pfp_470.fw
proprietary/system/etc/firmware/a300_pfp.fw
proprietary/system/etc/firmware/vidc.b02
proprietary/system/etc/firmware/vidcfw.elf
proprietary/system/etc/firmware/a300_pm4.fw
proprietary/system/etc/firmware/vidc.b00
proprietary/system/etc/firmware/vidc.mdt
proprietary/system/etc/firmware/vidc.b01
proprietary/system/etc/firmware/a225_pfp.fw
proprietary/system/etc/diag.cfg
proprietary/system/bin/diag_mdlog
proprietary/system/bin/ks
proprietary/system/bin/netmgrd
proprietary/system/bin/usbhub_init
proprietary/system/bin/ATFWD-daemon
proprietary/system/bin/rmt_storage
proprietary/system/bin/sns_cm_conc_test
proprietary/system/bin/hci_qcomm_init
proprietary/system/bin/nl_listener
proprietary/system/bin/qcks
proprietary/system/bin/mpdecision
proprietary/system/bin/test_diag
proprietary/system/bin/btnvtool
proprietary/system/bin/bridgemgrd
proprietary/system/bin/thermald
proprietary/system/bin/diag_klog
proprietary/system/bin/usbhub
proprietary/system/bin/qmuxd
proprietary/system/bin/port-bridge
proprietary/system/bin/efsks
proprietary/system/bin/ds_fmc_appd
proprietary/system/bin/v4l2-qcamera-app
proprietary/system/bin/sns_cm_test
proprietary/system/bin/sns_smr_loopback_test
proprietary/system/bin/sns_dsps_tc0001
proprietary/system/bin/radish
proprietary/system/bin/mm-audio-send-cal
proprietary/system/bin/sensors.qcom
proprietary/system/bin/sns_debug_file_test
proprietary/system/bin/PktRspTest
proprietary/system/bin/mm-qcamera-daemon
proprietary/system/bin/qseecomd
proprietary/system/media/LMprec_508.emd
proprietary/system/media/bootanimation.zip
proprietary/system/media/video/Sunset.240p.mp4
proprietary/system/media/video/AndroidInSpace.240p.mp4
proprietary/system/media/video/Sunset.480p.mp4
proprietary/system/media/video/AndroidInSpace.480p.mp4
proprietary/system/media/PFFprec_600.emd
proprietary/occam-jop40d-factory-ca7602f0.tgz
